{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "esprima",
  "rules": {
    "quotes": [2, "single", {
      "avoidEscape": true
    }],
    "strict": [2, "never"],
    "no-debugger": "warn",
    "no-undef": "error",
    "import/no-named-as-default": "off",
    "no-unreachable": "warn",
    "no-unused-expressions": "warn",
    "no-unused-vars": "error",
    "eqeqeq": ["error", "always", {
      "null": "ignore"
    }]
  }
}
